+++
# SPDX-FileCopyrightText: 2022 CERN and the Caribou authors
# SPDX-License-Identifier: CC-BY-4.0
title = "Caribou"
+++
{{< blocks/cover title="" image_anchor="center" height="max" color="secondary" >}}
    <div class="row justify-content-start align-items-center">
        <div class="col-sm">
            {{< caribou_logo >}}
        </div>
        <div class="col-lg-8">
            <p class="display-1 mb-0 text-left" style="font-weight: bold;">Caribou</p>
            <p class="display-2 mb-0 text-left" style="font-weight: normal;">A Versatile Data Acquisition System<br />For Silicon Pixel Detectors Prototyping</p>
        </div>
    </div>
    <div class="row justify-content-start mt-5">
        <div class="col-sm">
          <img src="images/caribou_system.png" alt="Caribou System Image" style="max-width: 100%; height: auto;">
        </div>

        <div class="col-lg-4 pl-4" style="margin-top: -1em;">
          <div class="text-left">
              <h3 class="display-4 mt-0 pb-3">
                Fast Integration Time
              </h3>
              <p class="">Minimum work on the base test system development. Maximal focus on detector integration and testing</p>
          </div>
          <div class="mt-5 text-left">
              <h3 class="display-4 mt-0 pb-3">
                Device Support Versatility 
              </h3>
              <p> Platform features and capabilities suitable for various types of devices</p>
          </div>
      </div>
    </div>

    <div class="mx-auto" style="padding-top: 3em;">
        <a href="/docs/" class="btn btn-lg btn-primary mb-3 mr-3 ml-4">
            Get Started <i class="fas fa-book ml-2"></i>
        </a>
        <a href="/news/" class="btn btn-lg btn-primary mb-3 ml-3 mr-3">
            Latest News <i class="fas fa-rss ml-2"></i>
        </a>
        <p>
            {{< blocks/link-down color="primary">}}
        </p>
    </div>
{{</ blocks/cover >}}


{{< blocks/lead color="primary" >}}
<h2 style="padding-bottom: 1em;">
    What is Caribou?
</h2>
<span class="caribou-lead-text">
    Caribou is a versatile data acquisition system for silicon pixel detectors prototyping. It is built around custom hardware, firmware and software suits, and is used for the development of pixel detectors for high-energy physics experiments. Caribou is designed to be user-friendly, flexible and open-source.
</span>
{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}

{{< blocks/feature icon="fas fa-solid fa-microchip" title="Detector prototyping" >}}
Caribou provides a versatile data acquisition system made built around custom hardware, firmware and software suits, and used for pixel detectors prototyping. 
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-hands-helping" title="User friendly" >}}
No need to touch the core code - integrate your detector by designing your detector carrier board, your FPGA firmware block and your software interface class.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-wrench" title="Flexible" >}}
Thanks to the flexible multiple hardware features and firmware IPs provided, Caribou is able to support all various types of detector control and readout schemes.
{{< /blocks/feature >}}

{{< /blocks/section >}}
{{< blocks/section color="dark" >}}

{{< blocks/feature icon="fas fa-code-branch" title="Open Source" url_text="Join the community" url="/community/" >}}
Caribou is a collaborative project that welcomes contributions and is published entirely free and open source under the MIT license.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-book" title="Documentation" url_text="To the User Manual" url="/docs/" >}}
Caribou comes with a comprehensive documentation comprising information on the hardware, firmware and software integration, tools installation and system manual.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-flask" title="Publications" url="/publications/" >}}
Caribou has been used for studies of various silicon pixel detectors. In addition, several reference publications have been published using data collected using the system.
{{< /blocks/feature >}}

{{< /blocks/section >}}