<div class="td-content">
	<h1>{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<header class="article-meta">
		{{ partial "taxonomy_terms_article_wrapper.html" . }}
		{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
			{{ partial "reading-time.html" . }}
		{{ end }}
	</header>
	<!-- inserted into default template to add module info -->
	{{ with $.Page.Params.module_status }}
	<div class="caribou-max-width"><table><tbody>
		{{ with $.Page.Params.module_status }}
		<tr>
		<td>Status</td>
		<td style="width:100%">{{ $.Page.Params.module_status | markdownify }}</td>
		</tr>
		{{ end }}
		{{ with $.Page.Params.module_maintainers }}
		<tr>
		<td>Maintainers</td>
		<td style="width:100%">
		{{ range $.Page.Params.module_maintainers }}{{ . | markdownify }}<br>{{ end }}
		</td>
		</tr>
		{{ end }}
		{{ with $.Page.Params.module_inputs }}
		<tr>
		<td>Input Objects</td>
		<td style="width:100%">
		{{ range $.Page.Params.module_inputs }}{{ . | markdownify }}<br>{{ end }}
		</td>
		</tr>
		{{ end }}
		{{ with $.Page.Params.module_outputs }}
		<tr>
		<td>Output Objects</td>
		<td style="width:100%">
		{{ range $.Page.Params.module_outputs }}{{ . | markdownify }}<br>{{ end }}
		</td>
		</tr>
		{{ end }}
	</tbody></table></div>
	{{ end }}
	<!-- end of insertion -->
	{{ .Content }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>
