/* class just to limit max width on large screens */
.caribou-max-width {
    @extend .td-max-width-on-larger-screens;
}

/* we don't want super wide sections on wide screens */
.section {
    justify-content: center;
    max-width: $caribou-max-width;
}

/* limit width of content, break words if necessary */
.td-content {
    word-break: break-word;
    max-width: $caribou-max-width;
}

/* min width for table cell, mainly for API reference */
table td {
    min-width: 138pt;
}

/* make sure images and their captions in figures scale correctly */
figure {
    @extend .td-max-width-on-larger-screens;
    img {
        width: auto;
        height: auto;
    }
    figcaption {
        font-style: italic;
    }
}

/* padding for centered pages */
.l-container--padded {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* front page styling */
.caribou-lead-text {
    font-weight: normal;
    font-size: 1.3rem;
}

.screen_img_container {
    position: relative;
    width: 100%;
    border: solid 1px #f3ffc7a6;
    border-radius: 7px;
    box-shadow: 3px 3px 15px #f3ffc7a6;
    height: 0;
    padding-bottom: 64%;
    background: #e66713;
}

/* special case when page has blocks/cover shortcode */
@include media-breakpoint-up(md) {
    .td-navbar-cover {
        /* applies when navbar is cover block */
        background: secondary !important;
        /* dark menu item color */
        .nav-link {
            color: #784421 !important;
            text-shadow: none !important;
        }
        /* dark search bar background */
        .td-search__input {
            background: #784421 !important;
        }
        /* dark brand text color */
        .navbar-brand {
            color: #784421 !important;
        }

        /* when not in cover block anymore */
        &.navbar-bg-onscroll {
            background: $primary !important;
            /* default menu item color */
            .nav-link {
                color: #ffffff !important;
                text-shadow: none !important;
            }
            /* default search bar background */
            .td-search__input {
                background: transparent !important;
            }
            /* default brand text color */
            .navbar-brand {
                color: #ffffff !important;
            }
        }
    }
}
