/* SPDX-FileCopyrightText: 2023 CERN and the Caribou authors
 * SPDX-License-Identifier: CC0-1.0
 */

/* Caribou colors */
$primary: #e66713;  /* caribou Dark */
$secondary: #f3ffc7a6; /* caribou Bright */
$dark: #784421; /* caribou foot-page Dark */

/* using Docsy's Google Fonts option will ping Google servers, let's not do that but instead self-host (see below) */
$td-enable-google-fonts: false;

/* use Roboto as font */
$font-family-sans-serif: "Roboto";

/* increase the default font size a bit */
$font-size-base: 1.0rem;

/* max content width */
$caribou-max-width: 1140px;

/* roboto-300 - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-300.woff2') format('woff2');
}

/* roboto-300italic - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-300italic.woff2') format('woff2');
}

/* roboto-regular - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-regular.woff2') format('woff2');
}

/* roboto-italic - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-italic.woff2') format('woff2');
}

/* roboto-500 - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-500.woff2') format('woff2');
}

/* roboto-500italic - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-500italic.woff2') format('woff2');
}

/* roboto-700 - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-700.woff2') format('woff2');
}

/* roboto-700italic - greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local(''), url('../webfonts/roboto-v30-greek_greek-ext_latin_latin-ext-700italic.woff2') format('woff2');
}
