{{ if .File }}
{{ $pathFormatted := replace .File.Path "\\" "/" -}}
{{ $dc_forum_url := ($.Param "discourse_forum_url") -}}
{{ $gl_project_repo := ($.Param "project_issue_url") -}}
{{ $gl_website_repo := ($.Param "website_issue_url") -}}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
{{ if $dc_forum_url -}}
  {{ $dc_forum_url_issueURL := printf "%s/new-topic" $dc_forum_url -}}
  <a href="{{ $dc_forum_url_issueURL }}" class="td-page-meta--project-issue" target="_blank" rel="noopener"><i class="fas fa-tasks fa-fw"></i> {{ T "post_ask_question" }}</a>
{{ end -}}
{{ if $gl_project_repo -}}
  {{ $gl_project_issueURL := printf "%s/-/issues" $gl_project_repo -}}
  <a href="{{ $gl_project_issueURL }}" class="td-page-meta--project-issue" target="_blank" rel="noopener"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
{{ end -}}
{{ if $gl_website_repo -}}
  {{ $gl_website_issueURL := printf "%s/-/issues" $gl_website_repo -}}
  <a href="{{ $gl_website_issueURL }}" class="td-page-meta--project-issue" target="_blank" rel="noopener"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_website_issue" }}</a>
{{ end -}}
{{ with .CurrentSection.AlternativeOutputFormats.Get "print" -}}
  <a id="print" href="{{ .Permalink | safeURL }}"><i class="fa fa-print fa-fw"></i> {{ T "print_entire_section" }}</a>
{{ end }}
</div>
{{ end -}}
