<style>
.caribou-logo svg {
    max-width: 80%;
    width: auto;
    height: auto;
}
</style>
<span class="caribou-logo">
{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
</span>
